body .background_1{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    display: flex;
    top: 0;
}
.room_pro_dis{
    width: 100%;
    margin-top: 50px;

    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 350px 350px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding-top: 50px;
	padding-bottom: 300px;
}

.profile-sts{
	position: relative;
    width: 300px;
	height: 300px;
    overflow: hidden;
    cursor: pointer;
}
.profile-sts .pro-img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-sts .d-pro-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	padding: 40px;
	background: #fff;
}
.dynamic_cards_container{
	background: rgb(204,204,204);
	background: linear-gradient(90deg, rgba(204,204,204,0.804359243697479) 0%, rgba(204,204,204,0.7959558823529411) 100%);
	width: fit-content;
	overflow: hidden;
    border-radius: 10px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
}
.room-data{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 10px;
}
.room-data .description{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.room-data button{
	margin: 10px;
}


/* responsiveness */
@media(max-width: 1510px){
	.room_pro_dis{
		display: grid;
		grid-template-columns: 350px 350px 350px;
	}
}

@media(max-width: 1120px){
	.room_pro_dis{
		display: grid;
		grid-template-columns: 350px 350px;
	}
}

@media(max-width: 750px){
	.room_pro_dis{
		display: grid;
		grid-template-columns: 500px;
	}
}

@media(max-width: 530px){
	.room_pro_dis{
		display: grid;
		grid-template-columns: 350px;
	}

}

@media(max-width: 360px){
	.room_pro_dis{
		display: grid;
		grid-template-columns: 350px;
		zoom: 70%;
	}

}