{% load static %}

<!doctype html>
<html lang="en" style="height: 100%;">
<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stickyfooter.css' %}">


    <!-- <title>GUEST HOUSE BOOKING</title> -->
    <!-- Specific page css goes here ###########-->
    {% block stylesheets %} {% endblock stylesheets %}

</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-transparent shadow">
    <div class="container">
        <a class="navbar-brand mb-0 h1" href="/">GUEST BOOKING</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'explore' %}">Book Now <span class="sr-only">(current)</span></a>
                </li>
                

                {% if user.is_authenticated %}

                    {% if user.is_superuser %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_rooms' %}">Add Rooms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'my_hotel' %}">My Hotel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'booked_rooms' %}">Booked Rooms</a>
                        </li>
                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view_book' %}">Booking History</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="{% url 'book_room' %}">Book Room</a>
                        </li> -->

                    {% endif %}

                {% else %}
                    
                {% endif %}
            </ul>

            <ul class="navbar-nav">

                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <div class="dropdown-divider"></div>
                            <!-- <a class="dropdown-item" href="{% url 'logout' %}">Logout</a> -->
                        </div>
                        
                    </li>
                    <a href="{% url 'logout' %}">
                        <button type="button" class="btn btn-info mx-1">
                          Logout
                        </button>
                    </a>
                {% else %}

                <!-- <li class="nav-item active" style="margin-right: 2px"> -->

               
                    
                        <!-- <a herf="{% url 'logout' %}">
                            <button type="button" class="btn btn-info mx-1">
                              Logout
                            </button>
                        </a> -->
                      
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <button type="button" class="btn btn-outline-info">
                            Login
                        </button>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'login' %}">Customer Login</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'rmlogin' %}">Manager Login</a>
                        </div>
                    </li>
            
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <button type="button" class="btn btn-info mx-1">
                            Signup
                        </button>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'signup' %}">Customer Signup</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'rmsignup' %}">Manager Signup</a>
                        </div>
                    </li>
                {% endif %}


                <!-- </li> -->
                

            </ul>


        </div>
    </div>

</nav>


{% block content %}
{% endblock %}

<footer class="footer">
    <div class="outer-container">
        <div class="inner-container">
            <div class="col-md-6 my-auto">
                <a style="margin-left: 1.5%;" href="https://www.facebook.com" target="_blank"><img
                        src="{% static 'images/facebook.png' %}"
                        height='45px' width="45px"></a>
                <a style="margin-left: 1.5%;" href="https://www.linkedin.com" target="_blank"><img
                        src="{% static 'images/instagram.png' %}"
                        height='45px' width="45px"></a>
                <a style="margin-left: 1.5%;" href="https://www.linkedin.com" target="_blank"><img
                        src="{% static 'images/linkedin.png' %}"
                        height='45px' width="45px"></a>
                <a style="margin-left: 1.5%;" href="https://twitter.com" target="_blank"><img
                        src="{% static 'images/twitter.png' %}" height='45px'
                        width="45px"></a>

            </div>
            <div class="custom-text">
                <ul style="list-style-type:none;">
                    <li><a href="" class="text-dark" target="_blank" style="text-decoration: none">Help</a>
                    </li>
                    <li><a href="" class="text-dark" target="_blank" style="text-decoration: none;">About Us</a>
                    </li>
                    <li><a href="" class="text-dark" target="_blank" style="text-decoration: none;">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>
</html>