<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>
		
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="{% static 'css/global.css' %}" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container-fluid " style="height:750px; background-image: url({% static 'h1_hero.jpg' %}); background-repeat: round";>
			<form class="abc" style="margin-top: 600px;" action="/confirm_book/" method="post">
				{% csrf_token %}
            	<div class="grid-container" style="grid-auto-flow: row;">
					<div class="item5">
					    <span>Rooms:</span>
					    {{ form.room_no }}
                    </div>
					<div class="item1">	
						<span> Check In Date:</span>
						{{ form.date_opted }}
	       			</div>
	       			<div class="item2">	
					   	<span> Check Out Date:</span>
					   	{{ form.date_opted }}
	       			</div>
					<div class="item3">
					    <span>Check In Time:</span>
					    {{ form.time_opted_in }}
                    </div>
                    <div class="item4">
					    <span>Check Out Time:</span>
					    {{ form.time_opted_out }}
                    </div>
					<div class="item6">
				        <span>Book Now:</span>
				        <input type="submit" value="Submit">
                    </div>
				</div>
            	
        	</form>
	</div>
		
	

</body>
</html>