
{% extends 'room/base.html' %}

{% block content %}
<head>
	{% load static %}
    <title>Home</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 2px solid white;
            text-align: center;
            padding: 8px;
            text-decoration: dotted;
        }
    </style>

</head>
<body>
    
    <div class="container-fluid" style="height: 750px; background-image: url({% static '30.jpg' %});background-repeat:repeat-y;">
        <a class="navbar-brand h4" href="{{ book }}" style="color: orchid;margin-top:20px;margin-left:10px;">Add Room</a>
        <a class="navbar-brand h4" href="{{ del_book }}" style="color: lime;margin-top:20px;margin-left:20px;">Remove Room</a>
        <a class="navbar-brand h4" href="{{ view_book }}" style="color: red;margin-top:20px;margin-left:20px;">View all bookings</a>
        <a class="navbar-brand h4"  style="color: white;float:right;margin-top:20px;">LOGIN AS <h4 style="color: red;">({{username}})</h4></a> 


        <table style="margin-top:80px; color: red;">
            <tbody>
            <tr>
              <td>room no.</td>
              <td>data opted</td>
              <td>start time</td>
              <td>close time</td>
              <td>booking stauts</td>
            </tr>
            {% for d in data %}
            {% if username == d.user_booked %}
            <tr>
                <td>{{d.room_id}}</td> 
                <td>{{d.date_opted}}</td>
                <td>{{d.time_in}}</td>
                <td>{{d.time_out}}</td>
                <td>{{d.is_booked}}</td> 
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
            </table>
	</div>
</body>
{% endblock %}
