<!DOCTYPE html>
<html>
<head>


</head>
<body>

        <table style="margin-top:80px; color: yellow;">
            <tbody>
            <tr>
                  <td>id</td>
                  <td>start room</td>
                  <td>end room</td>
                  <td>start time</td>
                  <td>close time</td>
                  <td>buffer days</td>
                </tr>
            {% for d in data %}
                <tr>
                <td>{{d.id}}</td>
                <td>{{d.start_room}}</td> 
                <td>{{d.end_room}}</td>
                <td>{{d.in_time}}</td>
                <td>{{d.out_time}}</td>
                <td>{{d.buffer_days}}</td> 
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <br>
    </div>
</body>
</html>
