<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <title>
    
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="{% static 'css/edit.css' %}" type="text/css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="all.min.css" rel="stylesheet" />
    <link href="StyleSheet2.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 90%;
            margin: auto;
        }

        td, th {
            border: 2px solid white;
            text-align: center;
            padding: 8px;
            text-decoration: dotted;
            font-size: 20px;
          
        }

    </style>
<body>
  <div class="container-fluid " style=" background-image: url({% static 'plain.jpg' %}); background-repeat: repeat-y;";>
    <a class="navbar-brand h4"  style="color: black;float:right;margin-top:20px;font-size: 20px;">LOGIN AS <h4 style="color: red;">({{username}})</h4></a> 

      <form class="abc" style="margin-top: 100px;" action="/confirm_book/" method="post">
        {% csrf_token %}
        <div class="grid-container" style="grid-auto-flow: row;">
          <div class="item5">
              <span>Id:</span><br>
              <input type="text" id="id" name="id">
          </div>
          
          <div class="item5">
              <span>Start Room:</span>
              {{ form.start_room }}
          </div>
          <div class="item1"> 
            <span> End Room:</span>
            {{ form.end_room }}
              </div>
              <div class="item2"> 
              <span> Time In:</span><br>
              {{ form.time_in }}
              </div>
          <div class="item3">
              <span>Time Out:</span>
              {{ form.time_out }}
                    </div>
                    <div class="item4">
              <span>Buffer Days:</span>
              {{ form.buffer_days }}
                    </div>
          <div class="item6">
                <span>Book Now:</span><br>
                <input type="submit" value="Submit">
                    </div>
        </div>
              
          </form>

          <table style="margin-top:80px; color: black;">
            <tbody>
            <tr>
              <td>id</td>
              <td>start room</td>
              <td>end room</td>
              <td>start time</td>
              <td>close time</td>
              <td>buffer days</td>
            </tr>
        {% for d in data %}
            <tr>
            <td>{{d.id}}</td>
            <td>{{d.start_room}}</td> 
            <td>{{d.end_room}}</td>
            <td>{{d.in_time}}</td>
            <td>{{d.out_time}}</td>
            <td>{{d.buffer_days}}</td> 
            </tr>
            {% endfor %}
            </tbody>
            </table>

  </div>
    
  

</body>
</html>