{% extends 'room/base.html' %}

{% block content %}
<head>
    <title> MSU GUEST HOUSE </title>
    <style>
        #heading { color: red;}
    </style>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to MSU Guest House Booking</h1>
        <p class="lead"> /////</p>
        <hr class="my-4">
        <p>Book the hotel room just in few clicks with affordable price.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'explore' %}" role="button">Explore</a>
      </div>

</body>

{% endblock %}