<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>
		Bootstrap
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="{% static 'css/global.css' %}" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid " style="height:750px; background-image: url({% static 'dark.jpg' %}); background-repeat: repeat-y;">
		<div class="row">

			<div class="col-md-4 col-sm-4 col-xs-12"></div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<form class="form-container" style="margin-top: 150px;" action="/auth/" method="post">
					{% csrf_token %}
					<h1 style="color: white">Login</h1>
				  <div class="form-group">
				    <label for="exampleInputEmail1" style="color: white">Username</label><br>
				    {{ form.username }}
				  </div>
				  <br>
				  <div class="form-group">
				    <label for="exampleInputPassword1" style="color: white">Password</label><br>
				    {{form.password}}

				  </div>
				  <br>
				  <button type="submit" class="btn btn-success btn-block" style="background-color:orange">Login</button>
				  <button type="submit" class="btn btn-success btn-block" style="background-color: white; color: black">Signup-customer</button>
				  <button type="submit" class="btn btn-success btn-block">Signup-Manager</button>
				</form>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12"></div>
			
		</div>
	</div>

</body>
</html>