<!DOCTYPE html>
<html>

<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<title>Customer Signup</title>

<style>
	body {
		margin: 0;
		padding: 0;
		background-color: #FFFFFF; 
		height: 100vh;
	  }
	  #login .container #login-row #login-column #login-box {
		margin-top: 25px;
		max-width: 600px;
		height: 650px;
		border: 1px solid #111010;
		background-color: #d3d3d3;
		
	  }
	  #login .container #login-row #login-column #login-box #login-form {
		padding: 20px;
	  }
	  #login .container #login-row #login-column #login-box #login-form #register-link {
		margin-top: -85px;
	  }
</style>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-black pt-5" >Customer Signup</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/signup/" method="post">
							{% csrf_token %}
                            <h3 class="text-center text-info" >Create Account</h3>
                            <div class="form-group">
                                <label for="first_name" class="text-info">First Name:</label><br>
                                <input type="text" name="first_name" id="first_name" class="form-control">
							</div>
							<div class="form-group">
                                <label for="last_name" class="text-info">Last Name:</label><br>
                                <input type="text" name="last_name" id="last_name" class="form-control">
							</div>
							<div class="form-group">
                                <label for="username" class="text-info">Create Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
							</div>
							<div class="form-group">
                                <label for="email" class="text-info">Email:</label><br>
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password1" class="text-info">Password:</label><br>
                                <input type="password" name="password1" id="password1" class="form-control">
							</div>
							<div class="form-group">
                                <label for="password2" class="text-info">Retype Password:</label><br>
                                <input type="password" name="password2" id="password2" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
								<input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
								<a href='/'>
								<!-- <input type="button" name="back" class="btn btn-info btn-md" value="back" style="float: right;"> -->
								<button type="button" class="btn btn-info btn-md" style="float: right;">
									Back
								</button>
								</a>
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="#" class="text-info">Forget Password</a>
                            </div>
                        </form>
					</div>
					<div>
						{% for message in messages %}
						<h3>{{ message }}</h3>
						{% endfor %}
					</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
